body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64 {
  position:absolute;
  left:50px;
  top:80px;
  width:806px;
  height:95px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u67 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u69 {
  position:absolute;
  left:220px;
  top:0px;
  width:60px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u71 {
  position:absolute;
  left:280px;
  top:0px;
  width:131px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u73 {
  position:absolute;
  left:411px;
  top:0px;
  width:131px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u75 {
  position:absolute;
  left:542px;
  top:0px;
  width:131px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u77 {
  position:absolute;
  left:673px;
  top:0px;
  width:128px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u79 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u81 {
  position:absolute;
  left:110px;
  top:30px;
  width:110px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u83 {
  position:absolute;
  left:220px;
  top:30px;
  width:60px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u85 {
  position:absolute;
  left:280px;
  top:30px;
  width:131px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u87 {
  position:absolute;
  left:411px;
  top:30px;
  width:131px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u89 {
  position:absolute;
  left:542px;
  top:30px;
  width:131px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u91 {
  position:absolute;
  left:673px;
  top:30px;
  width:128px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u93 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u95 {
  position:absolute;
  left:110px;
  top:60px;
  width:110px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u97 {
  position:absolute;
  left:220px;
  top:60px;
  width:60px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u99 {
  position:absolute;
  left:280px;
  top:60px;
  width:131px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u101 {
  position:absolute;
  left:411px;
  top:60px;
  width:131px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u103 {
  position:absolute;
  left:542px;
  top:60px;
  width:131px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u105 {
  position:absolute;
  left:673px;
  top:60px;
  width:128px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u107 {
  position:absolute;
  left:50px;
  top:20px;
  width:107px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
