body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:902px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:10px;
  top:112px;
  width:900px;
  height:233px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:108px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:10px;
  top:31px;
  width:900px;
  height:80px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:32px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2054 {
  position:absolute;
  left:269px;
  top:156px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:179px;
}
#u2056 {
  position:absolute;
  left:43px;
  top:136px;
  width:189px;
  height:179px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:82px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2058 {
  position:absolute;
  left:10px;
  top:352px;
  width:900px;
  height:450px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:217px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:20px;
  top:359px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u2062 {
  position:absolute;
  left:10px;
  top:387px;
  width:900px;
  height:1px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:70px;
}
#u2064 {
  position:absolute;
  left:20px;
  top:41px;
  width:198px;
  height:70px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:27px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2066 {
  position:absolute;
  left:244px;
  top:62px;
  width:49px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2068 {
  position:absolute;
  left:316px;
  top:62px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2070 {
  position:absolute;
  left:12px;
  top:1037px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2070_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:901px;
  height:8px;
}
#u2070_seg1 {
  position:absolute;
  left:893px;
  top:-4px;
  width:8px;
  height:5px;
}
#u2071 {
  position:absolute;
  left:399px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2072 {
  position:absolute;
  left:10px;
  top:1047px;
  width:320px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2074 {
  position:absolute;
  left:698px;
  top:61px;
  width:200px;
  height:30px;
}
#u2074_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:35px;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2078 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:120px;
  visibility:hidden;
}
#u2080_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:125px;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2090 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:124px;
  visibility:hidden;
}
#u2090_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:130px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:129px;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:34px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2100 {
  position:absolute;
  left:437px;
  top:62px;
  width:49px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:10px;
  top:0px;
  width:900px;
  height:34px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:9px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:27px;
  top:6px;
  width:260px;
  height:18px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u2106 {
  position:absolute;
  left:499px;
  top:6px;
  width:190px;
  height:25px;
}
#u2106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2107 {
  position:absolute;
  left:667px;
  top:9px;
  width:20px;
  height:20px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  position:absolute;
  left:715px;
  top:9px;
  width:30px;
  height:18px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
  position:absolute;
  left:770px;
  top:9px;
  width:44px;
  height:18px;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2113 {
  position:absolute;
  left:839px;
  top:9px;
  width:59px;
  height:18px;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:269px;
  top:201px;
  width:597px;
  height:121px;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:34px;
  top:413px;
  width:222px;
  height:170px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:78px;
  width:218px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:285px;
  top:422px;
  width:596px;
  height:152px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:34px;
  top:601px;
  width:222px;
  height:170px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:78px;
  width:218px;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  position:absolute;
  left:285px;
  top:610px;
  width:596px;
  height:152px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:10px;
  top:812px;
  width:900px;
  height:212px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:98px;
  width:896px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2127 {
  position:absolute;
  left:20px;
  top:819px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u2129 {
  position:absolute;
  left:10px;
  top:847px;
  width:900px;
  height:1px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
