body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:80px;
  width:808px;
  height:97px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u3 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:32px;
}
#u5 {
  position:absolute;
  left:160px;
  top:0px;
  width:541px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:537px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u7 {
  position:absolute;
  left:701px;
  top:0px;
  width:102px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:32px;
  width:80px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11 {
  position:absolute;
  left:80px;
  top:32px;
  width:80px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:30px;
}
#u13 {
  position:absolute;
  left:160px;
  top:32px;
  width:541px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15 {
  position:absolute;
  left:701px;
  top:32px;
  width:102px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:62px;
  width:80px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:80px;
  top:62px;
  width:80px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:30px;
}
#u21 {
  position:absolute;
  left:160px;
  top:62px;
  width:541px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u23 {
  position:absolute;
  left:701px;
  top:62px;
  width:102px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u25 {
  position:absolute;
  left:50px;
  top:20px;
  width:107px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
