body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:80px;
  width:874px;
  height:729px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u3 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:32px;
}
#u5 {
  position:absolute;
  left:160px;
  top:0px;
  width:604px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:600px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u7 {
  position:absolute;
  left:764px;
  top:0px;
  width:105px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:142px;
}
#u9 {
  position:absolute;
  left:0px;
  top:32px;
  width:80px;
  height:142px;
}
#u10 {
  position:absolute;
  left:2px;
  top:64px;
  width:76px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:142px;
}
#u11 {
  position:absolute;
  left:80px;
  top:32px;
  width:80px;
  height:142px;
}
#u12 {
  position:absolute;
  left:2px;
  top:64px;
  width:76px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:142px;
}
#u13 {
  position:absolute;
  left:160px;
  top:32px;
  width:604px;
  height:142px;
  text-align:left;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:600px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:142px;
}
#u15 {
  position:absolute;
  left:764px;
  top:32px;
  width:105px;
  height:142px;
}
#u16 {
  position:absolute;
  left:2px;
  top:64px;
  width:101px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:119px;
}
#u17 {
  position:absolute;
  left:0px;
  top:174px;
  width:80px;
  height:119px;
}
#u18 {
  position:absolute;
  left:2px;
  top:52px;
  width:76px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:119px;
}
#u19 {
  position:absolute;
  left:80px;
  top:174px;
  width:80px;
  height:119px;
}
#u20 {
  position:absolute;
  left:2px;
  top:52px;
  width:76px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:119px;
}
#u21 {
  position:absolute;
  left:160px;
  top:174px;
  width:604px;
  height:119px;
  text-align:left;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:600px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:119px;
}
#u23 {
  position:absolute;
  left:764px;
  top:174px;
  width:105px;
  height:119px;
}
#u24 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:431px;
}
#u25 {
  position:absolute;
  left:0px;
  top:293px;
  width:80px;
  height:431px;
}
#u26 {
  position:absolute;
  left:2px;
  top:208px;
  width:76px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:431px;
}
#u27 {
  position:absolute;
  left:80px;
  top:293px;
  width:80px;
  height:431px;
}
#u28 {
  position:absolute;
  left:2px;
  top:208px;
  width:76px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:431px;
}
#u29 {
  position:absolute;
  left:160px;
  top:293px;
  width:604px;
  height:431px;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:26px;
  width:600px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:431px;
}
#u31 {
  position:absolute;
  left:764px;
  top:293px;
  width:105px;
  height:431px;
}
#u32 {
  position:absolute;
  left:2px;
  top:208px;
  width:101px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u33 {
  position:absolute;
  left:50px;
  top:20px;
  width:107px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
