body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2987 {
  position:absolute;
  left:10px;
  top:0px;
  width:900px;
  height:613px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:298px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:70px;
}
#u2989 {
  position:absolute;
  left:20px;
  top:10px;
  width:198px;
  height:70px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:27px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u2991 {
  position:absolute;
  left:587px;
  top:297px;
  width:150px;
  height:150px;
}
#u2992 {
  position:absolute;
  left:2px;
  top:68px;
  width:146px;
  word-wrap:break-word;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2993 {
  position:absolute;
  left:574px;
  top:131px;
  width:168px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2995 {
  position:absolute;
  left:531px;
  top:213px;
  width:255px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2997 {
  position:absolute;
  left:619px;
  top:463px;
  width:87px;
  height:18px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:456px;
}
#u2999 {
  position:absolute;
  left:144px;
  top:107px;
  width:300px;
  height:455px;
  font-size:20px;
}
#u3000 {
  position:absolute;
  left:2px;
  top:216px;
  width:296px;
  word-wrap:break-word;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3001 {
  position:absolute;
  left:655px;
  top:37px;
  width:82px;
  height:18px;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3003 {
  position:absolute;
  left:751px;
  top:37px;
  width:60px;
  height:18px;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
