body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2795 {
  position:absolute;
  left:10px;
  top:0px;
  width:900px;
  height:613px;
}
#u2796 {
  position:absolute;
  left:2px;
  top:298px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:70px;
}
#u2797 {
  position:absolute;
  left:20px;
  top:10px;
  width:198px;
  height:70px;
}
#u2798 {
  position:absolute;
  left:2px;
  top:27px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u2799 {
  position:absolute;
  left:587px;
  top:297px;
  width:150px;
  height:150px;
}
#u2800 {
  position:absolute;
  left:2px;
  top:68px;
  width:146px;
  word-wrap:break-word;
}
#u2801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2801 {
  position:absolute;
  left:574px;
  top:131px;
  width:168px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2802 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2803 {
  position:absolute;
  left:531px;
  top:213px;
  width:255px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2804 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u2805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2805 {
  position:absolute;
  left:619px;
  top:463px;
  width:87px;
  height:18px;
}
#u2806 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:456px;
}
#u2807 {
  position:absolute;
  left:144px;
  top:107px;
  width:300px;
  height:455px;
  font-size:20px;
}
#u2808 {
  position:absolute;
  left:2px;
  top:216px;
  width:296px;
  word-wrap:break-word;
}
#u2809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2809 {
  position:absolute;
  left:655px;
  top:37px;
  width:82px;
  height:18px;
}
#u2810 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2811 {
  position:absolute;
  left:751px;
  top:37px;
  width:60px;
  height:18px;
}
#u2812 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
