body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2650 {
  position:absolute;
  left:10px;
  top:0px;
  width:900px;
  height:613px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:298px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:70px;
}
#u2652 {
  position:absolute;
  left:20px;
  top:10px;
  width:198px;
  height:70px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:27px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2654 {
  position:absolute;
  left:655px;
  top:37px;
  width:86px;
  height:18px;
}
#u2655 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u2656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2656 {
  position:absolute;
  left:751px;
  top:37px;
  width:101px;
  height:18px;
}
#u2657 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:147px;
}
#u2658 {
  position:absolute;
  left:529px;
  top:285px;
  width:167px;
  height:146px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:66px;
  width:163px;
  word-wrap:break-word;
}
#u2660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2660 {
  position:absolute;
  left:529px;
  top:188px;
  width:168px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2661 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2662 {
  position:absolute;
  left:529px;
  top:233px;
  width:195px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2663 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  position:absolute;
  left:569px;
  top:447px;
  width:87px;
  height:18px;
}
#u2665 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:456px;
}
#u2666 {
  position:absolute;
  left:144px;
  top:107px;
  width:300px;
  height:455px;
  font-size:20px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:216px;
  width:296px;
  word-wrap:break-word;
}
